# 7 - 2

In [1]:
import pandas as pd

df1 = pd.read_csv('data/concat_1.csv')
df2 = pd.read_csv('data/concat_2.csv')
df3 = pd.read_csv('data/concat_3.csv')
print(df1)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [2]:
print(df2)

    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

In [3]:
print(df3)

     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [4]:
print(df1.index)

RangeIndex(start=0, stop=4, step=1)

In [5]:
print(df1.columns)

Index(['A', 'B', 'C', 'D'], dtype='object')

In [6]:
print(df1.values)

[['a0' 'b0' 'c0' 'd0']
 ['a1' 'b1' 'c1' 'd1']
 ['a2' 'b2' 'c2' 'd2']
 ['a3' 'b3' 'c3' 'd3']]

In [7]:
row_concat = pd.concat([df1, df2, df3])
print(row_concat)

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [8]:
print(row_concat.iloc[3, :])

A    a3
B    b3
C    c3
D    d3
Name: 3, dtype: object

In [9]:
new_row_series = pd.Series(['n1', 'n2', 'n3', 'n4'])
print(new_row_series)

0    n1
1    n2
2    n3
3    n4
dtype: object

In [10]:
print(pd.concat([df1, new_row_series]))

     A    B    C    D    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
3   a3   b3   c3   d3  NaN
0  NaN  NaN  NaN  NaN   n1
1  NaN  NaN  NaN  NaN   n2
2  NaN  NaN  NaN  NaN   n3
3  NaN  NaN  NaN  NaN   n4

In [11]:
new_row_df = pd.DataFrame(
    data = [['n1', 'n2', 'n3', 'n4']],
    columns = ['A', 'B', 'C', 'D'],
)
print(new_row_df)

    A   B   C   D
0  n1  n2  n3  n4

In [12]:
print(pd.concat([df1, new_row_df]))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [13]:
row_concat_i = pd.concat([df1, df2, df3], ignore_index = True)
print(row_concat_i)

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

In [14]:
col_concat = pd.concat([df1, df2, df3], axis = 'columns')
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [15]:
print(col_concat['A'])

    A   A    A
0  a0  a4   a8
1  a1  a5   a9
2  a2  a6  a10
3  a3  a7  a11

In [16]:
col_concat['new_col_list'] = ['n1', 'n2', 'n3', 'n4']
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D new_col_list
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8           n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9           n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10           n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11           n4

In [17]:
col_concat['new_col_series'] = pd.Series(['n1', 'n2', 'n3', 'n4'])
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D new_col_list  \
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8           n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9           n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10           n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11           n4

  new_col_series
0             n1
1             n2
2             n3
3             n4

In [18]:
print(pd.concat([df1, df2, df3], axis = 'columns', ignore_index = True))

   0   1   2   3   4   5   6   7    8    9    10   11
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [19]:
df1.columns = ['A', 'B', 'C', 'D']
df2.columns = ['E', 'F', 'G', 'H']
df3.columns = ['A', 'C', 'F', 'H']
print(df1)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [20]:
print(df2)

    E   F   G   H
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

In [21]:
print(df3)

     A    C    F    H
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [22]:
row_concat = pd.concat([df1, df2, df3])
print(row_concat)

     A    B    C    D    E    F    G    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
0  NaN  NaN  NaN  NaN   a4   b4   c4   d4
1  NaN  NaN  NaN  NaN   a5   b5   c5   d5
2  NaN  NaN  NaN  NaN   a6   b6   c6   d6
3  NaN  NaN  NaN  NaN   a7   b7   c7   d7
0   a8  NaN   b8  NaN  NaN   c8  NaN   d8
1   a9  NaN   b9  NaN  NaN   c9  NaN   d9
2  a10  NaN  b10  NaN  NaN  c10  NaN  d10
3  a11  NaN  b11  NaN  NaN  c11  NaN  d11

In [23]:
print(pd.concat([df1, df2, df3], join = 'inner'))

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [24]:
print(pd.concat([df1, df3], ignore_index = False, join = 'inner'))

     A    C
0   a0   c0
1   a1   c1
2   a2   c2
3   a3   c3
0   a8   b8
1   a9   b9
2  a10  b10
3  a11  b11

In [25]:
df1.index = [0, 1, 2, 3]
df2.index = [4, 5, 6, 7]
df3.index = [0, 2, 5, 7]
print(df1)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [26]:
print(df2)

    E   F   G   H
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7

In [27]:
print(df3)

     A    C    F    H
0   a8   b8   c8   d8
2   a9   b9   c9   d9
5  a10  b10  c10  d10
7  a11  b11  c11  d11

In [28]:
col_concat = pd.concat([df1, df2, df3], axis = 'columns')
print(col_concat)

     A    B    C    D    E    F    G    H    A    C    F    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN   a8   b8   c8   d8
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN   a9   b9   c9   d9
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   a4   b4   c4   d4  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN   a5   b5   c5   d5  a10  b10  c10  d10
6  NaN  NaN  NaN  NaN   a6   b6   c6   d6  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN   a7   b7   c7   d7  a11  b11  c11  d11

In [29]:
print(pd.concat([df1, df3], axis = 'columns', join = 'inner'))

    A   B   C   D   A   C   F   H
0  a0  b0  c0  d0  a8  b8  c8  d8
2  a2  b2  c2  d2  a9  b9  c9  d9

# 7 - 3

In [30]:
# !pip install pathlib

In [31]:
from pathlib import Path  # path 작성 시 대문자 필수 Path!! 안그러면 인식이 안됨.

billboard_data_files = (
    Path('.')
    .glob('billboard-by_week')
)

billboard_data_files = sorted(list(billboard_data_files))
print(billboard_data_files)

[]

---

# 문제 발생 및 해결

### p228 코드 작성했으나 빈 파일로 나옴.
### 파이썬 버전 문제인가싶어 버전 알아봄.

In [32]:
# 파이썬버전 확인 
import sys
print(sys.version)

3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]

### 노을 언니와 시현 언니도 같은 문제가 발생해 같이 풀어봄.
### 각자의 코드를 서로 공유해봄.
### 시현 언니 코드 
```
from pathlib import Path  # path 작성 시 대문자 필수 Path!! 안그러면 인식이 안됨.

billboard_data_files = (
    Path('/')
    .glob('data/billboard-by_week/billboard-*.csv')
)

billboard_data_files = sorted(list(billboard_data_files))
print(billboard_data_files)
```
### 노을 언니 코드
```
from pathlib import Path
billboard_data_files = sorted(list(Path(r'C:\Users\hpky0\Desktop\판다스\data\billboard-by_week').glob('billboard-*.csv')))
print(billboard_data_files)
```

In [33]:
# 시현 언니 코드 확인
from pathlib import Path  # path 작성 시 대문자 필수 Path!! 안그러면 인식이 안됨.

billboard_data_files = (
    Path('/')
    .glob('data/billboard-by_week/billboard-*.csv')
)

billboard_data_files = sorted(list(billboard_data_files))
print(billboard_data_files)

[]

In [34]:
# 노을 언니 코드 확인
from pathlib import Path
billboard_data_files = sorted(list(Path('C:\Users\hpky0\Desktop\판다스\data\billboard-by_week').glob('billboard-*.csv')))
print(billboard_data_files)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (3107191666.py, line 3)

### 노을 언니 코드는 오류 코드가 떠서 코드를 해석해봄.
> (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape
해석 > (유니코드 오류) 'unicodeescape' 코덱은 위치 2-3의 바이트를 디코딩할 수 없습니다 : 잘린 \UXXXXXXXX 이스케이프
### 오류 코드를 구글에 검색해봄
### [유니코드 오류 해결 방법](https://twdatastory.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-unicode-error-unicodeescape-codec-cant-decode-bytes)에 대해 알아보니 파일명을 표시한 따옴표 앞에 r을 붙여주면 된다고 해서 적용해봄

In [35]:
# 'r' 붙여서 결과 확인
from pathlib import Path
billboard_data_files = sorted(list(Path(r'C:\Users\hpky0\Desktop\판다스\data\billboard-by_week').glob('billboard-*.csv')))
print(billboard_data_files)

[WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-01.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-02.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-03.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-04.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-05.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-06.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-07.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-08.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-09.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-10.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-11.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-12.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-13.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-14.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-15.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-16.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-17.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-18.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-19.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-20.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-21.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-22.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-23.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-24.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-25.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-26.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-27.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-28.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-29.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-30.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-31.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-32.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-33.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-34.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-35.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-36.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-37.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-38.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-39.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-40.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-41.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-42.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-43.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-44.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-45.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-46.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-47.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-48.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-49.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-50.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-51.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-52.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-53.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-54.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-55.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-56.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-57.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-58.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-59.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-60.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-61.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-62.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-63.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-64.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-65.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-66.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-67.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-68.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-69.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-70.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-71.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-72.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-73.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-74.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-75.csv'), WindowsPath('C:/Users/hpky0/Desktop/판다스/data/billboard-by_week/billboard-76.csv')]

## 해결 완료

## Path로 파일 여는 법 추가 이해
 path가 파일을 읽을 수 있게 알려줘야하는데 그러지 못해서 오류가 남.  
[docs](https://docs.python.org/ko/3/library/pathlib.html#methods)를 보면 Pathlib는 순수한 경로로 파일을 찾아감.  
내가 작성한 코드로 Path를 사용하려면 Path '.'이 아니라 Path './'을 사용해야 했음. 
```
from pathlib import Path 

billboard_data_files = (
    Path('./').glob('data/billboard-by_week/billboard-*.csv')
)

billboard_data_files = sorted(list(billboard_data_files))
print(billboard_data_files)
```  
Path '.'은 컴퓨터가 '.'을 문자 그대로 '.'으로 인식해서 뭘 하라고 하는건지 몰라서 빈 리스트가 나온것이고,
Path '/'는 컴퓨터가 가긴 가는데 어디로 가야하는지를 추가로 알려주지 않아서 빈 리스트가 나온 것임.
Paht './'은 컴퓨터에게 '현재 위치'에 있는 파일들에서 찾아달라고 하는 것이기 때문에 결괏값이 나옴. 

그 뒤에 glob는 파일 이름에 ' * ' 앞에 이름을 가지고 있는 모든 파일을 다 가져다 달라는 말이라서 ' data/billboard-by_week/billboard-* .csv ' 자료를 다 가져온 것임.

애초에 Path로 어디서 파일을 가져와야하는지 잘못 알려줘서 판다스가 파일을 열지 못함. 

노을 언니의 코드가 열린 이유는 '절대경로'라서 열린 것이고 나랑 시현 언니의 코드는 '상대경로'라서 인식되지 않아 열리지 않은 것이다.  
'절대 경로' : 최상위 제일 위에서부터 찾아 들어가는 것이다. <시작점을 알려준 것>  
'상대 경로' : 파일의 위치를 기준으로 찾아 들어가는 것이다. <작동하고 있는 파일의 기준으로 알려준 것>

'./'는 상대 경로의 작동하고 있는 파일을 인식시킨 것

지금처럼 상대 경로를 모르겠으면 절대 경로를 찾아가는 것도 방법이다.

## 그렇다면 왜 내가 사용하던 read_csv는 안된 것일까?
왜냐하면 [pandas-docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)를 살펴보면 알 수 있다. 
read_csv는 './'가 포함되어 있는 함수라서 pandas.read_csv('data/gapminder.tsv')라고 작성해도 인식이 된 것이지만 
Path의 경우 './'가 없는 함수라서 Path('./')로 내 파일을 인식 시키고 glob을 사용해 파일을 가져오게 해야 되는 것이다. 

하지만 이번 같은 경우는 이번에만 그런 것이고,  
함수별로 경로를 찾는 방식이 달라 함수를 사용할 때마다 경로를 어떻게 써야할지, 경로를 어떻게 하는지 알아보면서 코드 작성을 해야한다.

## 진짜 해결 완료

---

In [36]:
billboard_data_files = list(billboard_data_files)

In [37]:
billboard01 = pd.read_csv(billboard_data_files[0])
billboard02 = pd.read_csv(billboard_data_files[1])
billboard03 = pd.read_csv(billboard_data_files[2])
print(billboard01)

     year            artist                    track  time date.entered week  \
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1
1    2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1
2    2000      3 Doors Down               Kryptonite  3:53   2000-04-08  wk1
3    2000      3 Doors Down                    Loser  4:24   2000-10-21  wk1
4    2000          504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1
..    ...               ...                      ...   ...          ...  ...
312  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29  wk1
313  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01  wk1
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18  wk1
315  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02  wk1
316  2000   matchbox twenty                     Bent  4:12   2000-04-29  wk1

     rating
0      87.0
1      91.0
2      81.0
3      76.0
4      57.0
..      ...
312    86.0
313    85.0
314    95.0
315    99.0
316    60.0

[317 rows x 7 columns]

In [39]:
print(billboard01.shape)
print(billboard02.shape)
print(billboard03.shape)

(317, 7)
(317, 7)
(317, 7)

In [40]:
billboard = pd.concat([billboard01, billboard02, billboard03])
print(billboard.shape)

(951, 7)

In [41]:
# 출력이 안되는게 맞나?
assert(
    billboard01.shape[0]
    + billboard02.shape[0]
    + billboard03.shape[0]
    == billboard.shape[0]
)

In [44]:
from pathlib import Path
billboard_data_files = sorted(list(Path(r'C:\Users\hpky0\Desktop\판다스\data\billboard-by_week').glob('billboard-*.csv')))

list_billboard_df = []

for csv_filename in billboard_data_files:
    print(csv_filename)

C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-01.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-02.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-03.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-04.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-05.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-06.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-07.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-08.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-09.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-10.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-11.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-12.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-13.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-14.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-15.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-16.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-17.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-18.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-19.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-20.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-21.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-22.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-23.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-24.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-25.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-26.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-27.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-28.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-29.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-30.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-31.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-32.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-33.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-34.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-35.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-36.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-37.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-38.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-39.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-40.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-41.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-42.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-43.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-44.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-45.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-46.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-47.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-48.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-49.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-50.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-51.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-52.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-53.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-54.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-55.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-56.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-57.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-58.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-59.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-60.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-61.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-62.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-63.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-64.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-65.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-66.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-67.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-68.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-69.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-70.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-71.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-72.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-73.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-74.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-75.csv
C:\Users\hpky0\Desktop\판다스\data\billboard-by_week\billboard-76.csv

#### 참고 : [for문 뒤에 작성된 print는 들여쓰기를 해야한다.](https://korbillgates.tistory.com/92)

In [48]:
from pathlib import Path
billboard_data_files = sorted(list(Path(r'C:\Users\hpky0\Desktop\판다스\data\billboard-by_week').glob('billboard-*.csv')))

list_billboard_df = []

for csv_filename in billboard_data_files:
#     print(csv_filename) 

    df = pd.read_csv(csv_filename)

    list_billboard_df.append(df)

print(len(list_billboard_df))

76

#### 참고 : print(len(list_billboard_df)) 작성 시 위치에 따라 나오는 결과가 다르다.
> for 반복문 안에 있을 경우 1에서 76까지 순서대로 나옴.
```
from pathlib import Path
billboard_data_files = sorted(list(Path(r'C:\Users\hpky0\Desktop\판다스\data\billboard-by_week').glob('billboard-*.csv')))

list_billboard_df = []

for csv_filename in billboard_data_files:
#     print(csv_filename) 

    df = pd.read_csv(csv_filename)

    list_billboard_df.append(df)

    print(len(list_billboard_df))
```

> for 반복문 밖에 있을 경우 결괏값인 76만 나옴.
```
from pathlib import Path
billboard_data_files = sorted(list(Path(r'C:\Users\hpky0\Desktop\판다스\data\billboard-by_week').glob('billboard-*.csv')))

list_billboard_df = []

for csv_filename in billboard_data_files:
#     print(csv_filename) 

    df = pd.read_csv(csv_filename)

    list_billboard_df.append(df)

print(len(list_billboard_df))
```

In [49]:
print(type(list_billboard_df[0]))

<class 'pandas.core.frame.DataFrame'>

In [50]:
print(list_billboard_df[0])

     year            artist                    track  time date.entered week  \
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1
1    2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1
2    2000      3 Doors Down               Kryptonite  3:53   2000-04-08  wk1
3    2000      3 Doors Down                    Loser  4:24   2000-10-21  wk1
4    2000          504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1
..    ...               ...                      ...   ...          ...  ...
312  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29  wk1
313  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01  wk1
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18  wk1
315  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02  wk1
316  2000   matchbox twenty                     Bent  4:12   2000-04-29  wk1

     rating
0      87.0
1      91.0
2      81.0
3      76.0
4      57.0
..      ...
312    86.0
313    85.0
314    95.0
315    99.0
316    60.0

[317 rows x 7 columns]

In [51]:
billboard_loop_concat = pd.concat(list_billboard_df)
print(billboard_loop_concat.shape)

(24092, 7)

In [52]:
from pathlib import Path
billboard_data_files = sorted(list(Path(r'C:\Users\hpky0\Desktop\판다스\data\billboard-by_week').glob('billboard-*.csv')))

list_billboard_df = []

for csv_filename in billboard_data_files:
    df = pd.read_csv(csv_filename)
    list_billboard_df.append(df)
    
billboard_data_files = sorted(list(Path(r'C:\Users\hpky0\Desktop\판다스\data\billboard-by_week').glob('billboard-*.csv')))

billboard_dfs = [pd.read_csv(data) for data in billboard_data_files]

In [53]:
print(type(billboard_dfs))

<class 'list'>

In [54]:
print(len(billboard_dfs))

76

In [55]:
billboard_concat_comp = pd.concat(billboard_dfs)
print(billboard_concat_comp)

     year            artist                    track  time date.entered  week  \
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   wk1
1    2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   wk1
2    2000      3 Doors Down               Kryptonite  3:53   2000-04-08   wk1
3    2000      3 Doors Down                    Loser  4:24   2000-10-21   wk1
4    2000          504 Boyz            Wobble Wobble  3:35   2000-04-15   wk1
..    ...               ...                      ...   ...          ...   ...
312  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29  wk76
313  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01  wk76
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18  wk76
315  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02  wk76
316  2000   matchbox twenty                     Bent  4:12   2000-04-29  wk76

     rating
0      87.0
1      91.0
2      81.0
3      76.0
4      57.0
..      ...
312     NaN
313     NaN
314     NaN
315     NaN
316     NaN

[24092 rows x 7 columns]

# 7 - 4

In [56]:
person = pd.read_csv('data/survey_person.csv')
site = pd.read_csv('data/survey_site.csv')
survey = pd.read_csv('data/survey_survey.csv')
visited = pd.read_csv('data/survey_visited.csv')
print(person)

      ident   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth

In [57]:
print(site)

    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40

In [58]:
print(visited)

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [59]:
print(survey)

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [60]:
visited_subset = visited.loc[[0, 2, 6], :]
print(visited_subset)

   ident   site       dated
0    619   DR-1  1927-02-08
2    734   DR-3  1939-01-07
6    837  MSK-4  1932-01-14

In [62]:
print(visited_subset['site'].value_counts())

site
DR-1     1
DR-3     1
MSK-4    1
Name: count, dtype: int64

In [63]:
o2o_merge = site.merge(visited_subset, left_on = 'name', right_on = 'site')
print(o2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
2  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [65]:
print(visited['site'].value_counts())

site
DR-3     4
DR-1     3
MSK-4    1
Name: count, dtype: int64

In [66]:
m2o_merge = site.merge(visited, left_on = 'name', right_on = 'site')
print(m2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-1 -49.85 -128.57    622   DR-1  1927-02-10
2   DR-1 -49.85 -128.57    844   DR-1  1932-03-22
3   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
4   DR-3 -47.15 -126.72    735   DR-3  1930-01-12
5   DR-3 -47.15 -126.72    751   DR-3  1930-02-26
6   DR-3 -47.15 -126.72    752   DR-3         NaN
7  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [67]:
ps = person.merge(survey, left_on = 'ident', right_on = 'person')
vs = visited.merge(survey, left_on = 'ident', right_on = 'taken')
print(ps)

   ident   personal   family  taken person quant  reading
0   dyer    William     Dyer    619   dyer   rad     9.82
1   dyer    William     Dyer    619   dyer   sal     0.13
2   dyer    William     Dyer    622   dyer   rad     7.80
3   dyer    William     Dyer    622   dyer   sal     0.09
4     pb      Frank  Pabodie    734     pb   rad     8.41
5     pb      Frank  Pabodie    734     pb  temp   -21.50
6     pb      Frank  Pabodie    735     pb   rad     7.22
7     pb      Frank  Pabodie    751     pb   rad     4.35
8     pb      Frank  Pabodie    751     pb  temp   -18.50
9   lake   Anderson     Lake    734   lake   sal     0.05
10  lake   Anderson     Lake    751   lake   sal     0.10
11  lake   Anderson     Lake    752   lake   rad     2.19
12  lake   Anderson     Lake    752   lake   sal     0.09
13  lake   Anderson     Lake    752   lake  temp   -16.00
14  lake   Anderson     Lake    837   lake   rad     1.46
15  lake   Anderson     Lake    837   lake   sal     0.21
16   roe  Valentina  Roerich    752    roe   sal    41.60
17   roe  Valentina  Roerich    837    roe   sal    22.50
18   roe  Valentina  Roerich    844    roe   rad    11.25

In [68]:
print(vs)

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

In [69]:
print(ps['quant'].value_counts())

quant
rad     8
sal     8
temp    3
Name: count, dtype: int64

In [70]:
print(vs['quant'].value_counts())

quant
sal     9
rad     8
temp    4
Name: count, dtype: int64

In [71]:
ps_vs = ps.merge(
    vs,
    left_on = ['quant'],
    right_on = ['quant'],
)

In [72]:
print(ps_vs.loc[0, :])

ident_x            dyer
personal        William
family             Dyer
taken_x             619
person_x           dyer
quant               rad
reading_x          9.82
ident_y             619
site               DR-1
dated        1927-02-08
taken_y             619
person_y           dyer
reading_y          9.82
Name: 0, dtype: object

In [73]:
print(ps.shape)

(19, 7)

In [74]:
print(vs.shape)

(21, 7)

In [75]:
print(ps_vs.shape)

(148, 13)

In [76]:
assert vs.shape[0] == 21

In [78]:
assert ps_vs.shape[0] <= vs.shape[0]

AssertionError:

# 7 - 5

In [79]:
import pandas as pd

billboard = pd.read_csv('data/billboard.csv')

billboard_long = billboard.melt(
    id_vars = ['year', 'artist', 'track', 'time', 'date.entered'],
    var_name = 'week',
    value_name = 'rating',
)

print(billboard_long)

       year            artist                    track  time date.entered  \
0      2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2      2000      3 Doors Down               Kryptonite  3:53   2000-04-08
3      2000      3 Doors Down                    Loser  4:24   2000-10-21
4      2000          504 Boyz            Wobble Wobble  3:35   2000-04-15
...     ...               ...                      ...   ...          ...
24087  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29
24088  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
24089  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
24090  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02
24091  2000   matchbox twenty                     Bent  4:12   2000-04-29

       week  rating
0       wk1    87.0
1       wk1    91.0
2       wk1    81.0
3       wk1    76.0
4       wk1    57.0
...     ...     ...
24087  wk76     NaN
24088  wk76     NaN
24089  wk76     NaN
24090  wk76     NaN
24091  wk76     NaN

[24092 rows x 7 columns]

In [80]:
print(billboard_long.loc[billboard_long.track == 'Loser'])

       year        artist  track  time date.entered  week  rating
3      2000  3 Doors Down  Loser  4:24   2000-10-21   wk1    76.0
320    2000  3 Doors Down  Loser  4:24   2000-10-21   wk2    76.0
637    2000  3 Doors Down  Loser  4:24   2000-10-21   wk3    72.0
954    2000  3 Doors Down  Loser  4:24   2000-10-21   wk4    69.0
1271   2000  3 Doors Down  Loser  4:24   2000-10-21   wk5    67.0
...     ...           ...    ...   ...          ...   ...     ...
22510  2000  3 Doors Down  Loser  4:24   2000-10-21  wk72     NaN
22827  2000  3 Doors Down  Loser  4:24   2000-10-21  wk73     NaN
23144  2000  3 Doors Down  Loser  4:24   2000-10-21  wk74     NaN
23461  2000  3 Doors Down  Loser  4:24   2000-10-21  wk75     NaN
23778  2000  3 Doors Down  Loser  4:24   2000-10-21  wk76     NaN

[76 rows x 7 columns]

In [81]:
billboard_songs = billboard_long[
    ['year', 'artist', 'track', 'time', 'date.entered']
]
print(billboard_songs.shape)

(24092, 5)

In [83]:
billboard_songs = billboard_songs.drop_duplicates()
print(billboard_songs.shape)

(317, 5)

In [84]:
billboard_songs['id'] = billboard_songs.index + 1
print(billboard_songs)

     year            artist                    track  time date.entered   id
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26    1
1    2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02    2
2    2000      3 Doors Down               Kryptonite  3:53   2000-04-08    3
3    2000      3 Doors Down                    Loser  4:24   2000-10-21    4
4    2000          504 Boyz            Wobble Wobble  3:35   2000-04-15    5
..    ...               ...                      ...   ...          ...  ...
312  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29  313
313  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01  314
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18  315
315  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02  316
316  2000   matchbox twenty                     Bent  4:12   2000-04-29  317

[317 rows x 6 columns]

In [85]:
billboard_ratings = billboard_long.merge(
    billboard_songs, on = ['year', 'artist', 'track', 'time', 'date.entered']
)
print(billboard_ratings.shape)

(24092, 8)

In [86]:
print(billboard_ratings)

       year           artist                    track  time date.entered  \
0      2000            2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000            2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
2      2000            2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
3      2000            2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
4      2000            2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
...     ...              ...                      ...   ...          ...
24087  2000  matchbox twenty                     Bent  4:12   2000-04-29
24088  2000  matchbox twenty                     Bent  4:12   2000-04-29
24089  2000  matchbox twenty                     Bent  4:12   2000-04-29
24090  2000  matchbox twenty                     Bent  4:12   2000-04-29
24091  2000  matchbox twenty                     Bent  4:12   2000-04-29

       week  rating   id
0       wk1    87.0    1
1       wk2    82.0    1
2       wk3    72.0    1
3       wk4    77.0    1
4       wk5    87.0    1
...     ...     ...  ...
24087  wk72     NaN  317
24088  wk73     NaN  317
24089  wk74     NaN  317
24090  wk75     NaN  317
24091  wk76     NaN  317

[24092 rows x 8 columns]

In [88]:
billboard_ratings = billboard_ratings[
    ['id', 'week', 'rating']
]
print(billboard_ratings)

        id  week  rating
0        1   wk1    87.0
1        1   wk2    82.0
2        1   wk3    72.0
3        1   wk4    77.0
4        1   wk5    87.0
...    ...   ...     ...
24087  317  wk72     NaN
24088  317  wk73     NaN
24089  317  wk74     NaN
24090  317  wk75     NaN
24091  317  wk76     NaN

[24092 rows x 3 columns]